nav {
    position: fixed;
    top: 0;
    
}
header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }


@media screen and (min-width: 480px) {
    body {
        background-color: azure;
    }
}